<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>c u p c a k e s</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.3.3/css/bootstrap.min.css" integrity="sha512-jnSuA4Ss2PkkikSOLtYs8BlYIeeIK1h99ty4YfvRPAlzr377vr3CXDb7sb7eEEBYjDtcYj+AjBH3FLv5uSJuXg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="static/style.css">
</head>
<body>
    <h1>c u p c a k e s</h1>

    <div class="container">
        <table class="table-borderless table" >
            <tr>
                <th scope="col">Flavor</th>
                <th scope="col">Rating</th>
                <th scope="col">Size</th>
            </tr>
            <tbody class="cupcakes">
                {% for cc in ccs %}
                <tr>
                    <td>{{cc.flavor}}</td>
                    <td>{{cc.rating}}</td>
                    <td>{{cc.size}}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
        <form>
            <div class="row">
                <div class="col">
                    <label class="form-label" for="flavor">Cupcake Flavor</label>
                    <input class="form-control" type="text" name="flavor" id="flavor">
                   </div>
                   <div class="col">
                    <label class="form-label" for="rating">Cupcake Rating (1-5)</label>
                    <input class="form-control" type="int" min="1" max="5" name="rating" id="rating">
                   </div>
                   <div class="col">
                    <label class="form-label" for="size">Cupcake Size</label>
                    <input class="form-control" type="text" name="size" id="size">
                </div>
            </div>
            <div class="btn_margin">
                <button type="button" class="add_cupcake btn btn-lg btn-outline-light">Add Cupcake</button>
            </div>


        </form>
    </div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.19.2/axios.min.js"
    integrity="sha256-T/f7Sju1ZfNNfBh7skWn0idlCBcI3RwdLSS4/I7NQKQ=" crossorigin="anonymous"></script>
  <script
    src="https://code.jquery.com/jquery-3.4.1.min.js"
    integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo="
    crossorigin="anonymous"></script>
  <script src="static/cupcakes.js"></script>
    
</body>
</html>